thead,
td {
    padding: 8px 16px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
}

.tableFixHead {
    overflow-y: scroll;
    height: 350px;
}

.tableFixHead thead {
    position: sticky;
    top: 0;
}

#licencePlate{
    width: 30%;
}

#ConfirmationOfRepair{
    width: auto;
    height: auto;
    margin: auto;
    position: center;
}

 .tableFixHead {
     overflow-y: scroll;
     height: 350px;
 }

 label {
     font-weight: bold;
 }

 .btn:hover {
     outline: brown;
     box-shadow: blue;
 }

.tableFixHead tfoot {
    position: sticky;
    bottom: 0;
}

#licencePlate {
    width: 30%;
}





