<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Books which meet your search criteria</h1>
<p th:if="${bookSearchResult}">No books found</p>
<p>
<table border="2" width="70%" cellpadding="2">
    <tr>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Number of pages</th>
        <th>Is it suitable for the kids</th>
        <th>Edit</th>
    </tr>
    <tr th:each="book, stat : ${bookSearchResult}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.category.categoryName}"></td>
        <td th:text="${book.pages}"></td>
        <td th:text="${book.forKids}"></td>
        <td><a th:href="@{/edit/{EditTitle}(EditTitle=${book.title})}">Edit</a></td>
    </tr>
</table>
</body>
</p>
<p>
    <br>
    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>