<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{add-car.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link th:href="@{/css/Style.css}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>

</head>
<body class="bg-light">
<header class="section-header py-3">
    <div class="container">
        <section class="section-content py-3">
            <div class="row">
                <aside class="col-lg-3">
                    <h2>Car Service </h2>
                </aside>
            </div>
        </section>
    </div>
</header>
<section class="section-content py-3">
    <div class="row">
        <aside class="col-lg-2 ">
            <div th:insert="fragments/frame :: menu"></div>
        </aside>
        <main class="col-lg-3">
            <h6 class="text-center" th:text="#{add-car.header}"></h6>
            <p>
            <form th:object="${carDto}" th:action="@{/add-car}" method="post">
                <label for="brand" th:text="#{brand.label}"></label>
                <br>
                <input class="form-control" id="brand" th:type="text" th:field="*{brand}" th:required="required"/>
                <div th:if="${#fields.hasErrors('brand')}" th:class="'alert alert-danger'">
                    <ul>
                        <li th:each="err : ${#fields.errors('brand')}" th:text="${err}"></li>
                    </ul>
                </div>
                <br>
                <label for="description" th:text="#{description.label}"></label>
                <br>
                <textarea class="form-control" id="description" th:type="text" th:field="*{description}"
                          th:required="required"/>
                <br>
                <label for="licencePlate" th:text="#{licencePlate.label}"></label>
                <br>
                <input class="form-control" id="licencePlate" th:type="text" th:field="*{licencePlate}"
                       th:required="required"/>
                <div th:if="${#fields.hasErrors('licencePlate')}" th:class="'alert alert-danger'">
                    <ul>
                        <li th:each="err : ${#fields.errors('licencePlate')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div th:if="${carDto.duplicateLicencePlateError}" th:class="'alert alert-danger'">
                    <ul>
                        <li th:text="'Car with this licence plate is already in service'"></li>
                    </ul>
                </div>
                <br>
                <label for="reasonForService" th:text="#{reasonForService.label}"></label>
                <br>
                <select th:class="'form-control'" id="reasonForService" th:field="*{problemCategory}"
                        th:required="required">
                    <option th:each="categoryOpt : ${categories}"
                            th:value="${categoryOpt}" th:text="${categoryOpt.getCategoryName()}"></option>
                </select>
                <br>
                <label for="serviceStartDate" th:text="#{serviceStartDate.label}"></label>
                <br>
                <input id="serviceStartDate" class="form-control" th:type="date" th:field="*{serviceStartDate}"
                       th:required="required"
                       th:value="${carDto.serviceStartDate}"/>
            <div th:if="${#fields.hasErrors('serviceStartDate')}" th:class="'alert alert-danger'">
                <ul>
                    <li th:each="err : ${#fields.errors('serviceStartDate')}" th:text="${err}"></li>
                </ul>
            </div>
<!--                <div th:if="${carDto.isServiceStartDateError()}" th:class="'alert alert-danger'">-->
<!--                    <ul>-->
<!--                        <li th:text="'Incorrect service start date'"></li>-->
<!--                    </ul>-->
<!--                </div>-->
                <br>
                <button type="submit" class="btn btn-secondary " th:text="#{addCarToServiceQueue.caption}"></button>
                <button type="reset" class="btn btn-secondary " th:text="#{form.Clear}"></button>
        </form>
        </main>
    </div>
</section>
</body>
</html>