<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{add-car-success.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="../static/css/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
<header class="section-header py-3">
    <div class="container">
        <h2>Car Service </h2>
    </div>
</header>
<section class="section-content py-3">
    <div class="row">
        <aside class="col-lg-2">
            <div th:insert="fragments/frame :: menu"></div>
        </aside>
        <main class="col-lg-3">
            <h6 class="text-center" th:text="#{add-car-success.header}"></h6>
            <a th:href="@{/show-cars-to-repair}">
                <button class="btn btn-secondary" type="button" th:text="'OK'"></button>
            </a>
        </main>
    </div>
</section>
</body>
</html>