<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{add-car.title}"></title>
</head>
<body>
<h1 th:text="#{add-car.header}"></h1>

<p>
<form th:object="${carDto}" th:action="@{/add-car}" method="post">
    <label th:for="make" th:text="#{make.label}"></label>
    <br>
    <input th:id="make" th:type="text" th:field="*{make}" th:required="required"/>
    <div th:if="${#fields.hasErrors('make')}" th:class="'alert alert-danger'">

        <ul>
            <li th:each="err : ${#fields.errors('make')}" th:text="${err}"></li>
        </ul>

    </div>
    <br>
    <br>

    <label th:for="description" th:text="#{description.label}"></label>
    <br>
    <br>
    <input th:id="description" th:type="text" th:field="*{description}" th:required="required"/>
    <br>
    <br>

    <label th:for="licencePlate" th:text="#{licencePlate.label}"></label>
    <br>
    <br>
    <input th:id="licencePlate" th:type="text" th:field="*{licencePlate}" th:required="required"/>
    <div th:if="${#fields.hasErrors('licencePlate')}" th:class="'alert alert-danger'">

        <ul>
            <li th:each="err : ${#fields.errors('licencePlate')}" th:text="${err}"></li>
        </ul>

    </div>
    <br>
    <br>

    <label th:for="reasonForService" th:text="#{reasonForService.label}"></label>
    <br>
    <br>
    <select th:id="reasonForService" th:field="*{category}" id="Category" th:required="required">
        <option th:each="categoryOpt : ${T(com.infoshareacademy.domain.Category).values()}"
                th:value="${categoryOpt.name()}" th:text="${categoryOpt.categoryName}"></option>
    </select>
    <br>
    <br>
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p th:text="#{form.error}">
            <br>
            <br>
        </p>
    </div>
    <button th:text="#{addCarToServiceQueue.caption}"></button>
</form>
<nav>
    <div th:insert="fragments/commonButtons :: main"></div>
</nav>


</body>
</html>