<!DOCTYPE html>
<html lang=“en” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Add new car</h1>
<p>
<form action="save-added-car" method="post">
    Make:
    <br>
    <br>
    <input type="text" name="make" required/>
    Description:
    <br>
    <br>
    <input type="text" name="description" required/>
    <br>
    <br>
    Licence Plate:
    <br>
    <input type="text" name="licencePlate" required/>
    <br>
    <br>
   Reason for service:
    <br>
    <select name="category" id="Category" required>
        <option value="SEATS" >Problems with seats</option>
        <option value="BRAKES">Problems with brakes</option>
        <option value="MAINTENANCE">General maintenance</option>
        <option value="OTHER" selected>Other problems</option>
        <option value="DRIVE">Problems with drive</option>
        <option value="ENGINE">Problems with engine</option>
    </select>
    <br>
    <br>
<!--   Service cost (PLN) :-->
<!--    <br>-->
<!--    <input type="number" step="1" pattern="\d+" min="1" name="costOfService" required/>-->
<!--    <br>-->
<!--    <br>-->
<!--    Is car fixed?-->
<!--    <br>-->
<!--    <input type="radio" name="repaired" value="true" id="suitable for kids" checked/>-->
<!--    <label for="suitable for kids">Yes</label>-->
<!--    <input type="radio" name="repaired" value="false" id="definitely not for kids"/>-->
<!--    <label for="definitely not for kids">No</label>-->
<!--    <br>-->
<!--    <br>-->
    <button>Add Car to Service que</button>
</form>
    <br>
    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>