<!DOCTYPE html>
<html lang=“en” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Add new car</h1>
<p>
<form action="save-added-car" method="post">
    Author:
    <br>
    <input type="text" name="make" required/>
    <br>
    <br>
    Title:
    <br>
    <input type="text" name="licencePlate" required/>
    <br>
    <br>
    Category:
    <br>
    <select name="category" id="Category" required>
        <option value="SEATS" >Crime, Thriller</option>
        <option value="BRAKES">Fiction</option>
        <option value="MAINTENANCE">Historical</option>
        <option value="OTHER" selected>Science Fiction</option>
        <option value="DRIVE">Biography</option>
        <option value="ENGINE">Romance</option>
    </select>
    <br>
    <br>
    Number of pages :
    <br>
    <input type="number" step="1" pattern="\d+" min="1" name="pages" required/>
    <br>
    <br>
    Is car suitable for kids?
    <br>
    <input type="radio" name="forKids" value="true" id="suitable for kids" checked/>
    <label for="suitable for kids">Yes</label>
    <input type="radio" name="forKids" value="false" id="definitely not for kids"/>
    <label for="definitely not for kids">No</label>
    <br>
    <br>
    <button>Add Car to Service que</button>
</form>
    <br>
    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>