<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Random booked picked for you. Enjoy it :)</h1>
<p>
    <th:block th:utext="${bookForToday}"></th:block>
</p>
<p>
    <br>
    <br>
    <button onclick="window.location.href='/car-for-today';">Select another car</button>
    <br>
    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>