<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Full list of cars</h1>
<p>
<form action="/save-edited-car" method="post" onkeydown="return event.key !== 'Enter';"> <!---->
    Author:
    <br>
<!--    onsubmit="return false;"-->
    <input type="text" name="make" required th:value="${carToEdit.make}" />
    <br>
    <br>
    Title:
    <br>
    <input type="text" name="licencePlate" required th:value="${carToEdit.licencePlate}"/>
    <br>
    <br>
    Category:
    <br>
    <select name="category" id="Category" required th:value="${carToEdit.category}">
        <option value="KRYMINAL_SENSACJA_THRILLER" >Crime, Thriller</option>
        <option value="LITERATURA_PIEKNA">Fiction</option>
        <option value="HISTORYCZNA">Historical</option>
        <option value="FANTASTYKA_SCIENCE_FICTION" selected>Science Fiction</option>
        <option value="PUBLICYSTYKA_BIOGRAFIA">Biography</option>
        <option value="OBYCZAJOWA_ROMANS">Romance</option>
    </select>
    <br>
    <br>
    Number of pages :
    <br>
    <input type="number" step="1" pattern="\d+" min="1" name="pages" required th:value="${carToEdit.pages}"/>
    <br>
    <br>
    Is car suitable for kids?
    <br>
    <input type="radio" name="forKids"  value="true" id="suitable for kids"  th:checked="${carToEdit.forKids} == true ? checked"/>
    <label for="suitable for kids">Yes</label>
    <input type="radio" name="forKids" value="false" id="definitely not for kids" th:checked="${carToEdit.forKids} == false ? checked "/>
    <label for="definitely not for kids">No</label>
    <br>
    <br>
    <button >Save Edits</button>
</form>


</p>
<p>
    <br>
    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>