<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Full list of cars</h1>
<p>
<form action="/save-edited-car" method="post" onkeydown="return event.key !== 'Enter';"> <!---->
    Make:
    <br>
<!--    onsubmit="return false;"-->
    <input type="text" name="make" required th:value="${carToEdit.make}" />
    <br>
    <br>
    Licence plate:
    <br>
    <input type="text" name="licencePlate" required th:value="${carToEdit.licencePlate}"/>
    <br>
    <br>
    Reason for service:
    <br>
    <select name="category" id="Category" required th:value="${carToEdit.category}">
        <option value="SEATS" >Problems with seats</option>
        <option value="BRAKES">Problems with brakes</option>
        <option value="MAINTENANCE">General maintenance</option>
        <option value="OTHER" selected>Other problems</option>
        <option value="DRIVE">Problems with drive</option>
        <option value="ENGINE">Problems with engine</option>
    </select>
    <br>
    <br>
    Cost of service (PLN):
    <br>
    <input type="number" step="1" pattern="\d+" min="1" name="costOfService" required th:value="${carToEdit.costOfService}"/>
    <br>
    <br>
    Repaired?
    <br>
    <input type="radio" name="repaired"  value="true" id="suitable for kids"  th:checked="${carToEdit.repaired} == true ? checked"/>
    <label for="suitable for kids">Yes</label>
    <input type="radio" name="repaired" value="false" id="definitely not for kids" th:checked="${carToEdit.repaired} == false ? checked "/>
    <label for="definitely not for kids">No</label>
    <br>
    Date of repair:
    <br>
    <input type="date" name="dateOfRepair" required/>

    <button >Save Edits</button>
</form>


</p>
<p>
    <br>
    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>