<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{edit-car.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <style>
        .tableFixHead {
            overflow-y: scroll;
            height: 500px;
        }

        label {
            font-weight: bold;
        }

        .tableFixHead thead {
            position: sticky;
            top: 0;
        }

        .tableFixHead tfoot {
            position: sticky;
            bottom: 0;
        }

        thead,
        td {
            padding: 8px 16px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body class="bg-light">

<header class="section-header py-3">
    <div class="container">
        <h2>Car Service </h2>
    </div>
</header>

<section class="section-content py-3">
    <div class="row">
        <aside class="col-lg-3">
            <div th:insert="fragments/frame :: menu"></div>
        </aside>
        <main class="col-lg-3">
            <h6 class="text-center" th:text="#{edit-car.header}"></h6>
            <form th:object="${carDto}" th:action="@{/edit/{licencePlate}(licencePlate=${carDto.licencePlate})}"
                  method="post"> <!--onkeydown="return key !== 'Enter';"-->

                <label th:for="make" th:text="#{make.label}"></label>
                <br>
                <input id="make" class="form-control" readonly th:field="*{make}"/>
                <br>


                <label th:for="description" th:text="#{description.label}"></label>
                <br>
                <input id="description" class="form-control" readonly th:field="*{description}"/>
                <br>


                <label th:for="licencePlate" th:text="#{licencePlate.label}"></label>
                <br>
                <input id="licencePlate" class="form-control" readonly th:field="*{licencePlate}"/>
                <br>


                <label th:for="reasonForService" th:text="#{reasonForService.label}"></label>
                <br>
                <input id="reasonForService" hidden th:field="*{category}"/>
                <label class="form-control" readonly th:text="${carDto.getCategory().getCategoryName()}"></label>

                <br>
                <label th:for="serviceStartDate" th:text="#{serviceStartDate.label}"></label>
                <br>
                <input id="serviceStartDate" class="form-control" readonly th:field="*{serviceStartDate}"/>
                <br>


                <label th:for="costOfService" th:text="#{costOfService.label}"></label>
                <br>
                <input id="costOfService" class="form-control" th:width="100pc" th:type="number" th:step="1"
                       pattern="\d+"
                       th:field="*{costOfService}" th:required="required"
                       th:value="${carDto.costOfService}"/>
                <div th:if="${#fields.hasErrors('costOfService')}" class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('costOfService')}" th:text="${err}"></li>
                    </ul>
                </div>
                <br>

                <label th:for="dateOfRepair" th:text="#{dateOfRepair.label}"></label>
                <br>
                <input id="dateOfRepair" class="form-control" th:type="date" name="dateOfRepair"
                       th:required="required"
                       th:value="${carDto.dateOfRepair}"/>

                <div th:unless="${carDto.getDateOfRepairError().isEmpty()}" th:class="'alert alert-danger'">

                    <ul>
                        <li th:text="${carDto.getDateOfRepairError()}"></li>
                    </ul>

                </div>
                <!--                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->

                <!--                    <p th:text="#{form.error}">-->
                <!--                    </p>-->
                <!--                </div>-->
                <br>
                <br>
                <button class="btn btn-secondary" th:text="#{saveEdits.caption}"></button>
            </form>
        </main>
    </div>
</section>
</body>
</html>