<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{edit-car.title}"></title>
</head>
<body>
<h1 th:text="#{edit-car.header}"></h1>

<form th:object="${carDto}" th:action="@{/edit/{licencePlate}(licencePlate=${carDto.licencePlate})}" method="post" onkeydown="return event.key !== 'Enter';"> <!---->

    <div>
        <label th:for="make" th:text="#{Make.label}"></label>
        <br>

    <input th:id="make" th:class="readonlyInput" th:type="hidden" th:name="make" th:value="${carDto.make} " th:text="${carDto.make} "/>
    <br>
    <br>
        <label th:for="description" th:text="#{Description.label}"></label>
        <br>
        <br>
    <input th:id="description" th:class="readonlyInput" th:type="hidden" th:name="description" th:value="${carDto.description}" th:text="${carDto.description}"/>
    <br>
    <br>
        <label th:for="licencePlate" th:text="#{LicencePlate.label}"></label>
        <br>
        <br>
    <input th:id="licencePlate" th:class="readonlyInput" th:type="hidden" th:name="licencePlate" th:value="${carDto.licencePlate}" th:text="${carDto.licencePlate}"/>
    <br>
    <br>
        <label th:for="reasonForService" th:text="#{ReasonForService.label}"></label>
        <br>
        <br>
    <input th:id="reasonForService" th:class="readonlyInput" th:type="hidden" th:name="category"  th:value="${carDto.category}" th:text="${carDto.category.categoryName}" />
    <br>
    <br>
    </div>
    <label th:for="costOfService" th:text="#{CostOfService.label}"></label>
    <br>
    <br>

    <input th:id="costOfService" th:type="number" th:step="1" pattern="\d+" th:min="1" th:field="*{costOfService}" th:required
           th:value="${carDto.costOfService}"/>
    <div th:if="${#fields.hasErrors('costOfService')}" th:class="'alert alert-danger'">
        <br>
        <ul>
            <li th:each="err : ${#fields.errors('costOfService')}" th:text="${err}"></li>
        </ul>
        <br>
    </div>
    <br>
    <br>
    <label th:for="dateOfRepair" th:text="#{DateOfRepair.label}"></label>
    <br>
    <br>
    <input th:id="dateOfRepair" th:type="date"  th:field="*{dateOfRepair}" th:required
           th:value="${carDto.dateOfRepair}"/>
    <!---->
<!--    th:value="${carDto.dateOfRepair}"-->
    <br>
    <br>
      <div th:if="${#fields.hasErrors('*')}" th:class="alert alert-danger">
      <p th:text="#{form.error}">
      <br>
      <br>
      </p>
  </div>
    <button th:text="#{SaveEdits.caption}"></button>
</form>


<nav>
    <br>
    <br>
    <div th:insert="fragments/commonButtons :: main"></div>
</nav>
</body>
</html>