<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Thymeleaf'"></title>
</head>
<body>
<h1>Full list of cars</h1>
<p>
<form th:object="${carDto}" th:action="@{/edit/{licencePlate}(licencePlate=${carDto.licencePlate})}" method="post" onkeydown="return event.key !== 'Enter';"> <!---->
  <!--  <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p th:text="#{form.error}"></p>
    </div>-->
    <div>
     Make:
    <br>
    <!--    onsubmit="return false;"-->
    <input class="readonlyInput" type="hidden" th:name="make" th:value="${carDto.make} " th:text="${carDto.make} "/>
    <br>
    <br>
    Description:
    <br>
    <input class="readonlyInput" type="hidden" th:name="description" th:value="${carDto.description}" th:text="${carDto.description}"/>
    <br>
    <br>
    Licence plate:
    <br>
    <input class="readonlyInput" type="hidden" th:name="licencePlate" th:value="${carDto.licencePlate}" th:text="${carDto.licencePlate}"/>
    <br>
    <br>
    Reason for service:
    <br>
    <input class="readonlyInput" type="hidden" th:name="category"  th:value="${carDto.category}" th:text="${carDto.category.categoryName}" />
    <br>
    <br>
    </div>

    Cost of service (PLN):
    <br>

    <input type="number" step="1" pattern="\d+" min="1" th:field="*{costOfService}" required
           th:value="${carDto.costOfService}"/>
    <div th:if="${#fields.hasErrors('costOfService')}" th:class="'alert alert-danger'">
        <br>
        <ul>
            <li th:each="err : ${#fields.errors('costOfService')}" th:text="${err}"></li>
        </ul>
        <br>
    </div>
    <br>
    <br>
    Date of repair:
    <br>
    <input type="date" name="dateOfRepair" th:value="${carDto.make}" required/>
    <br>
    <br>
    <button>Save Edits</button>
</form>


</p>
<p>

    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>