<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Full list of cars</h1>
<p>
<form action="/edit/{licencePlate}(licencePlate=${car.licencePlate})}" method="post" onkeydown="return event.key !== 'Enter';"> <!---->

    <div> <!--/* STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" size="10" maxlength="30">
    */--> Make:
    <br>
    <!--    onsubmit="return false;"-->
    <input class="readonlyInput" type="text" name="make" required th:value="${carToEdit.make} " readonly="readonly"/>
    <br>
    <br>
    Description:
    <br>
    <input class="readonlyInput" type="text" name="description" required th:value="${carToEdit.description}" readonly="readonly"/>
    <br>
    <br>
    Licence plate:
    <br>
    <input class="readonlyInput" type="text" name="licencePlate" required th:value="${carToEdit.licencePlate}" readonly="readonly"/>
    <br>
    <br>
    Reason for service:
    <br>
    <input class="readonlyInput" type="text" name="category" id="Category" required th:value="${carToEdit.category}" readonly="readonly"/>
    <br>
    <br>
    </div>
<!--    <select name="category" id="Category" required th:value="${carToEdit.category}" readonly="readonly">-->
<!--        <option value="SEATS">Problems with seats</option>-->
<!--        <option value="BRAKES">Problems with brakes</option>-->
<!--        <option value="MAINTENANCE">General maintenance</option>-->
<!--        <option value="OTHER" selected>Other problems</option>-->
<!--        <option value="DRIVE">Problems with drive</option>-->
<!--        <option value="ENGINE">Problems with engine</option>-->
<!--    </select>-->

    Cost of service (PLN):
    <br>
    <input type="number" step="1" pattern="\d+" min="1" name="costOfService" required
           th:value="${carToEdit.costOfService}"/>
    <br>
    <br>
    Repaired?
    <br>
    <input type="radio" name="repaired" value="true" id="repaired"
           th:checked="${carToEdit.repaired} == true ? checked"/>
    <label for="repaired">Yes</label>
    <input type="radio" name="repaired" value="false" id="not repaired"
           th:checked="${carToEdit.repaired} == false ? checked "/>
    <label for="not repaired">No</label>
    <br>
    <br>
    Date of repair:
    <br>
    <input type="date" name="dateOfRepair" required/>
    <br>
    <br>
    <button>Save Edits</button>
</form>


</p>
<p>

    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>