<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<head>
    <meta charset="UTF-8">
    <title th:text="#{fixed-cars.title}"></title>
</head>
<body>
<h1 th:text = "#{fixed-cars.header}"></h1>
<div th:if="${fixedCars.empty}">
<h2 th:text="#{fixed-cars.empty}" ></h2>
</div>

<table border="2" width="70%" cellpadding="2" th:if="${!fixedCars.empty}">
    <tr>
        <th th:text="'#'"></th>
        <th th:text="#{Make.label}"></th>
        <th th:text="#{Description.label}"></th>
        <th th:text="#{LicencePlate.label}"></th>
        <th th:text="#{ReasonForService.label}"></th>
        <th th:text="#{CostOfService.label}"></th>
        <th th:text="#{Repaired.label}"></th>
        <th th:text="#{DateOfRepair.label}"></th>
<!--        <th>Edit</th>-->
    </tr>
    <tr th:each="car, stat : ${fixedCars}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.Description}"></td>
        <td th:text="${car.licencePlate}"></td>
        <td th:text="${car.category.categoryName}"></td>
        <td th:text="${car.costOfService}"></td>
        <td th:text="${car.repaired}"></td>
        <td th:text="${car.DateOfRepair}"></td>

    </tr>
</table>

<nav>

    <div th:insert="fragments/commonButtons :: main"></div>
</nav>


</body>
</html>