<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{fixed-cars.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link th:href="@{/css/Style.css}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    </head>
<body>
<header class="section-header py-3">
    <div class="container">
        <section class="section-content py-3">
            <div class="row">
                <aside class="col-lg-3">
                    <h2>Car Service </h2>
                </aside>
            </div>
        </section>
    </div>
</header>
<section class="section-content py-3">
    <div class="row">
        <aside class="col-lg-2">
            <div th:insert="fragments/frame :: menu"></div>
        </aside>
        <main class="col-lg-10">
            <h6 class="text-center" th:text="#{fixed-cars.header}"></h6>
            <div th:if="${fixedCars.isEmpty()}">
                <h2 th:text="#{fixed-cars.empty}"></h2>
            </div>
            <div th:if="${!fixedCars.isEmpty()}">
                <div class="tableFixHead">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="bg-secondary text-white">
                        <tr>
                            <th th:text="'#'"></th>
                            <th th:text="#{brand.label}"></th>
                            <th th:text="#{description.label}"></th>
                            <th th:text="#{licencePlate.label}"></th>
                            <th th:text="#{reasonForService.label}"></th>
                            <th th:text="#{costOfService.label}"></th>
                            <th th:text="#{dateOfRepair.label}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car, stat : ${fixedCars}">
                            <td th:text="${stat.index + 1}"></td>
                            <td th:text="${car.brand}"></td>
                            <td th:text="${car.description}"></td>
                            <td th:text="${car.licencePlate}"></td>
                            <td th:text="${car.category.categoryName}"></td>
                            <td th:text="${car.costOfService}"></td>
                            <td th:text="${car.dateOfRepair}"></td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </main>
    </div>
</section>
</body>
</html>