<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<head>
    <meta charset="UTF-8">
    <title th:text="#{main.title}"></title>
</head>
<body>
<div style="text-align:center">
    <h1 th:text="#{main.header}"></h1>
    <img src="../static/LOGO-CarService.jpg" height="300" th:src="@{LOGO.jpg}"/>
    <nav>
        <div th:replace="fragments/commonButtons :: custom ('all-cars','Full list of cars')"></div>
        <div th:replace="fragments/commonButtons :: custom ('add-car','Add car')"></div>
        <div th:replace="fragments/commonButtons :: custom ('show-cars-to-repair','Show cars to fix')"></div>
        <div th:replace="fragments/commonButtons :: custom ('fixed-cars','Show fixed Cars')"></div>
    </nav>
</div>
</body>
</html>