<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<head>
    <title>Welcome to Car Service App</title>
</head>
<body>
<div style="text-align:center">
    <img src="../static/LOGO.jpg" height="300" th:src="@{LOGO.jpg}"/>
    <br>
    <br>
    <button onclick="window.location.href='/all-cars';">List of cars</button>
    <br>
    <br>
    <button onclick="window.location.href='/car-for-today';">Book for today</button>
    <br>
    <br>
    <button onclick="window.location.href='/add-car';">Add car</button>
    <br>
    <br>
    <form action="/search-car">
        Search for car : <input type="text" name="title"/>
        <br>
        <br>
        <button>Search</button>
    </form>
    <br>
    <br>
    <br>
    <button onclick="window.location.href='/exit';">Exit App</button>
</div>
</body>
</html>