<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Cars which meet your search criteria</h1>
<h2 th:if="${carSearchResult.empty}">No cars found</h2>

<table border="2" width="70%" cellpadding="2" th:if="${!carSearchResult.empty}">
    <form action="/search-car">
        Search for car (enter licence number or its part as a search parameter)  : <input type="text" name="licencePlate"/>
        <br>
        <br>
        <button>Search</button>
    </form>
    <tr>
        <th>#</th>
        <th>Make</th>
        <th>Licence plate</th>
        <th>Reason for service</th>
        <th>Cost of service</th>
        <!--/* <th>Repaired</th>
         <th>Edit</th> */-->
    </tr>
    <tr th:each="car, stat : ${carSearchResult}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.licencePlate}"></td>
        <td th:text="${car.category.categoryName}"></td>
        <!--/* <td th:text="${car.costOfService}"></td>
         <td th:text="${car.repaired}"></td> */-->
        <td>
            <a th:href="@{/edit/{EditlicencePlate}(EditlicencePlate=${car.licencePlate})}">
                <button type="button" th:text="#{Car.link}"></button>
            </a>
        </td>
    </tr>
</table>
<nav>
    <br>
    <br>
    <div th:insert="fragments/commonButtons :: main"></div>
</nav>


</body>
</html>