<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<body>
<h1>Cars which meet your search criteria</h1>
<h2 th:if="${carSearchResult.empty}">No cars found</h2>

<table border="2" width="70%" cellpadding="2" th:if="${!carSearchResult.empty}">
    <tr>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Number of pages</th>
        <th>Is it suitable for the kids</th>
        <th>Edit</th>
    </tr>
    <tr th:each="car, stat : ${carSearchResult}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.licencePlate}"></td>
        <td th:text="${car.category.categoryName}"></td>
        <td th:text="${car.pages}"></td>
        <td th:text="${car.forKids}"></td>
        <td><a th:href="@{/edit/{EditTitle}(EditTitle=${car.licencePlate})}">Edit</a></td>
    </tr>
</table>
</p>
</body>

<p>
    <br>
    <br>
    <button onclick="window.location.href='/main';">Main menu</button>
</p>
</body>
</html>