<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{search-cars.title}"></title>
</head>
<body>
<div class="jumbotron text-center">
<h1 th:text="#{search-cars.header}"></h1>
</div>
<div th:if="${carSearchResult.isEmpty()}">
    <h2 th:text="#{search-cars.empty}"></h2>
</div>
<table border="2" width="70%" cellpadding="2" th:if="${!carSearchResult.isEmpty()}">
    <form action="/search-car">
        <label th:for="licencePlate" th:text="#{searchCriteria.label}"></label>
        <br>
        <br>
        <input th:id="licencePlate" th:type="text" th:name="licencePlate"/>
        <br>
        <br>
        <button th:text="#{searchButton.caption}"></button>
    </form>
    <br>
    <br>
    <tr>
        <th th:text="'#'"></th>
        <th th:text="#{make.label}"></th>
        <th th:text="#{licencePlate.label}"></th>
        <th th:text="#{reasonForService.label}"></th>
        <th th:text="#{serviceStartDate.label}"></th>
        <th th:text="#{confirmCarRepair.label}"></th>
    </tr>
    <tr th:each="car, stat : ${carSearchResult}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.licencePlate}"></td>
        <td th:text="${car.category.categoryName}"></td>
        <td th:text="${car.getServiceStartDate()}"></td>
        <!--/* <td th:text="${car.costOfService}"></td>
         <td th:text="${car.repaired}"></td> */-->
        <td>
            <a th:href="@{/edit/{EditlicencePlate}(EditlicencePlate=${car.licencePlate})}">
                <button type="button" th:text="#{confirmCarRepair.caption}"></button>
            </a>
        </td>
    </tr>
</table>
<nav>
    <br>
    <br>
    <div th:insert="fragments/commonButtons :: main"></div>
</nav>


</body>
</html>