thead,
td {
    padding: 8px 16px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
}

.tableFixHead {
    overflow-y: scroll;
    height: 500px;
}
/*}*/
/*.tableFixHead thead {*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

/*.tableFixHead tfoot {*/
/*    position: sticky;*/
/*    bottom: 0;*/
/*}*/
#licencePlate{
    width: 30%;
}

#ConfirmationOfRepair{
    width: auto;
    height: auto;
    margin: auto;
    position: center;
}

