<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link th:href="@{/css/Style.css}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="custom (customPath, customLabel)">

    <a th:href="@{/{path}(path=${customPath})}">
        <button class="btn type-name-link" type="button" th:text="${customLabel}"></button>
    </a>
</div>

<div th:fragment="main">

    <a th:href="@{/{path}(path=#{main.path})}">
        <button type="button" th:text="#{main.label}"></button>
    </a>
</div>

<!--<div th:fragment="printGreetings (name)" th:with="title=${title} ?: 'Mr.', greeting=${greeting} ?: 'Hello'">-->
<!--    <span th:text="${greeting}">Hello</span>-->
<!--    <span th:text="${title}">Mr.</span>-->
<!--    <span th:text="${name}">John Doe</span>-->
<!--</div>-->

</body>
</html>